body {
	background-color: whitesmoke;
	font-family: 'Lucida Grande', 'Lucida Sans Unicode', 'Lucida Sans', 'Geneva',
		Verdana, sans-serif;
}

a {
	text-decoration: none;
}
a:-webkit-any-link {
	color: white;
}

input:focus {
	outline: none;
}

#container {
	display: grid;
	width: 100%;
	background-color: tomato;
	grid-template:
		'header' 550px
		'promo' 180px
		'footer' 70px;
}

#hero {
	grid-area: header;
	background-image: url(your_verse_hero.jpg);
	background-repeat: no-repeat;
	background-position: 0 -750px;
	width: 100%;
	height: 550px;
}
header {
	grid-area: header;
}

#main-nav {
	background: grey;
	background: linear-gradient(#737373, #5e5e5e 50%, #707070 50%, #898989);
	height: 30px;
	max-width: 900px;
	border-radius: 5px;
	box-shadow: -1px 1px 6px 0 rgb(138, 138, 138);
	margin: 80px auto;
	display: flex;
}
#main-nav ul {
	flex: 1 1 auto;
	display: flex;
}

.main-nav-item {
	display: flex;
}

#nav-icon {
	width: 15px;
}
.main-nav-item li {
	flex: 1 1 80px;
	border-right: 1px solid black;
	font-size: 12px;
}
.main-nav-item input {
	background-color: transparent;
	margin: 0 15px;
	border-radius: 15px;
	align-self: center;
	color: white;
	padding-left: 10px;
	width: 100px;
}

.material-icons-outlined {
	color: white;
	font-size: 18px;
	position: relative;
	left: -110px;
	top: 7px;
}

.nav-link {
	display: flex;
	width: 100%;
	height: 100%;
	align-items: center;
}

.nav-link span {
	width: 100%;
	text-align: center;
}

#main-nav ul li:hover {
	background-color: rgba(0, 0, 0, 0.377);
}

#header-text {
	width: 850px;
	margin: 20px auto;
	font-size: 30px;
	text-align: center;
}
#header-text * {
	color: white;
	margin: 20px 0;
}
h1 {
	font-size: 50px;
	font-weight: lighter;
}

h2 {
	font-size: 35px;
}

h3 {
	font-size: 25px;
}

aside {
	grid-area: promo;
	background-color: white;
}

img {
	max-width: 100%;
}

ul {
	max-width: 100%;
	display: flex;
	justify-content: space-between;
}

/*----footer---*/
footer {
	padding: 20px 150px;
	background-color: white;
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-nav {
	height: 20px;
	background-color: white;
	font-size: 10px;
}
.footer-nav li a {
	color: #08c;
	border-right: 1px solid #08c;
	padding-right: 7px;
}

.footer-text {
	font-size: 10px;
}
.footer-text p:nth-child(2) {
	margin: 10px 0;
}

.footer-link {
	color: #08c;
}

.footer-link:-webkit-any-link {
	color: #08c;
}
